/vendor/
node_modules/
.env
.DS_Store
*.log
*.cache
/storage/*.key
/phpunit.xml
composer.lock

/app/
/config/
/public/
/storage/
/resources/
/theplugs
/test.php
/routes
/bootstrap/
settings.json
/verify_form.php