/app export-ignore
/bootstrap export-ignore
/config export-ignore
/database export-ignore
/docs export-ignore
/example-bridge export-ignore
/public export-ignore
/resources export-ignore
/storage export-ignore
/tests export-ignore
/theplugs export-ignore
/.env.example export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/plugs.lock export-ignore
