parameters:
    level: 5
    paths:
        - src
        - app
        - config
    excludePaths:
        - vendor
        - storage
    tmpDir: storage/framework/cache/phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
